<html>
<head>
    <LINK rel=stylesheet type="text/css" href="/new.css">
</head>
<h1> Add a Comedian! </h1>
<form class="new-comedian" action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="Comedian's Name">
  <input type="text" name="comedian[age]" placeholder="Comedian's Age">
  <input type="text" name="comedian[city]" placeholder="Comedian's City">
  <input type="submit" value="Submit" >
</form>
