h1{
  text-align: center;
  font-size: 36;
  color: black;
}
form {

     list-style: none;
     display:block;
     float: center;
     padding: 40px;
     text-align: left;
     background-color: silver;
     border: 15px solid pink;
     font-family: monospace;
     font-size: 14;
     font-weight: bold;
     color: black;
     border-radius: 25px;
}
form input{

  border: 20px solid red;

}
